/* Loader Container */
.loader-container {
    background-color: #eceff3;
    color: #5b5f66;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
  color: var(--text-color);
  border-right: 2px solid var(--border-color);
  }
  
  .loader-container.dark {
    background-color: black;
    color: white;
  }
  
  /* Main Container */
  .mainpage-container {
    background-color: #eceff3;
    display: flex;
    /* justify-content: center; */
    padding-top: 64px;
    width: 100%;
    height: 100vh;
  }
  
  .mainpage-container.dark {
    background-color: black;
    color: white;
  }
  
  /* Section for AllInbox */
  .inbox-section {
    width: 27%;
    overflow: hidden;
  }
  
  /* Center Section */
  .center-section {
    width: 46%;
    overflow: hidden;
  }
  
  /* Right Section */
  .right-section {
    width: 27%;
    overflow: hidden;
  }
  