/* TopBarStyles.css */
.top-bar {
    height: 4rem; /* Equivalent to h-16 */
    width: 100vw; /* Equivalent to w-screen */ /* Equivalent to bg-white */
    position: fixed;
    top: 0;
    padding-left: 3.5rem; /* Equivalent to px-14 */
    padding-right: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E0E0E0; /* Equivalent to border-b-2 border-[#E0E0E0] */
    color: #5B5F66; /* Equivalent to text-[#5B5F66] */
    background-color: var(--background-color);
  color: var(--text-color);
  border-right: 2px solid var(--border-color);
  }
  
  /* Dark mode specific styles */
  @media (prefers-color-scheme: dark) {
    .top-bar {
      background-color: #1F1F1F; /* Equivalent to dark:bg-[#1F1F1F] */
      border-color: #343A40; /* Equivalent to dark:border-[#343A40] */
      color: white; /* Equivalent to dark:text-white */
    }
  }
  
  .top-bar-logo {
    font-weight: 500; /* Equivalent to font-medium */
  }
  
  .top-bar-right {
    width: 34vw;
    padding-right: 2.5rem; /* Equivalent to pr-10 */
    display: flex;
    align-items: center;
  }
  
  .arrow-icon {
    font-size: 1.875rem; /* Equivalent to text-3xl */
    margin-left: 0.75rem; /* Equivalent to ml-3 */
  }
  